doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/normalize.css")
        link(rel="stylesheet", href="./css/main.css")
        title DePO
    body
        // ?xml version="1.0" encoding="utf-8"?
svg(viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style="display: none")
  style.
    :root>svg{display:none}:root>svg:target{display:block}
  svg#Caret_Down(fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
    path(d='m15 11-3 3-3-3' stroke='#6F767E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
  svg#ClipboardText(fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
    path(d='M15.75 2.25h-7.5V6h7.5V2.25Z' stroke='#6F767E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
    path(d='M15.75 3.75h3a.75.75 0 0 1 .75.75v15.75a.75.75 0 0 1-.75.75H5.25a.75.75 0 0 1-.75-.75V4.5a.75.75 0 0 1 .75-.75h3M9 14.25h6M9 11.25h6' stroke='#6F767E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
  svg#arrow-round(fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
    circle(cx='12' cy='12' r='12' fill='#fff')
    path(d='M15.445 9.434 12 12.879 8.555 9.434 7.5 10.488l4.5 4.5 4.5-4.5-1.055-1.054Z' fill='#000')
  svg#by(fill='none' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#da)')
      path(d='M10.496 20c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10Z' fill='#FCFCFC')
      path(d='M4.627 9.275 3.54 7.303l1.087-1.94 1.087 1.94-1.087 1.972ZM2.453 9.275 1.366 7.303l1.087-1.94 1.087 1.94-1.087 1.972ZM4.627 14.638 3.54 12.666l1.087-1.941 1.087 1.94-1.087 1.973ZM2.453 14.638l-1.087-1.972 1.087-1.941 1.087 1.94-1.087 1.973ZM5.714 1.941l-.308-.55c-.552.328-1.07.706-1.547 1.13l.768 1.392 1.087-1.972ZM4.627 16.087l-.776 1.385c.477.424.994.803 1.546 1.131l.317-.575-1.087-1.941Z' fill='#A2001D')
      path(d='M6.583 12.609v6.596a10.003 10.003 0 0 0 13.291-5.727l-13.29-.87Z' fill='#6DA544')
      path(d='M19.874 13.478A9.977 9.977 0 0 0 20.496 10c0-5.523-4.477-10-10-10a9.969 9.969 0 0 0-3.913.795v12.683h13.291Z' fill='#A2001D')
    defs
      clippath#da
        path(fill='#fff' transform='translate(.496)' d='M0 0h20v20H0z')
  svg#fb(fill='none' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg')
    circle(cx='20' cy='20' r='20' fill='#fff')
    g(clip-path='url(#ea)')
      path(d='M28 20a8 8 0 1 0-9.25 7.903v-5.59h-2.031V20h2.031v-1.762c0-2.005 1.194-3.113 3.022-3.113.875 0 1.79.156 1.79.156v1.969h-1.008c-.994 0-1.304.617-1.304 1.25V20h2.219l-.355 2.313H21.25v5.59A8.002 8.002 0 0 0 28 20Z' fill='#3E8BF3')
    defs
      clippath#ea
        path(fill='#fff' transform='translate(12 12)' d='M0 0h16v16H0z')
  svg#insta(fill='none' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg')
    circle(cx='20' cy='20' r='20' fill='#fff')
    g(clip-path='url(#fa)' fill='#3E8BF3')
      path(d='M20 13.44c2.137 0 2.39.01 3.231.048.781.034 1.203.165 1.485.274.371.144.64.32.918.597.282.282.453.547.597.92.11.28.24.705.275 1.483.038.844.047 1.097.047 3.232 0 2.137-.01 2.39-.047 3.231-.034.781-.165 1.203-.275 1.484-.144.372-.319.641-.597.92a2.46 2.46 0 0 1-.918.596c-.282.11-.707.24-1.485.275-.844.038-1.097.047-3.231.047-2.137 0-2.39-.01-3.231-.047-.781-.034-1.203-.166-1.485-.275a2.473 2.473 0 0 1-.918-.597 2.46 2.46 0 0 1-.597-.919c-.11-.28-.24-.706-.275-1.484-.038-.844-.047-1.097-.047-3.231 0-2.138.01-2.39.047-3.232.034-.78.165-1.203.275-1.484.143-.372.319-.64.597-.919.28-.28.546-.453.918-.597.282-.109.707-.24 1.485-.274.84-.038 1.094-.047 3.231-.047ZM20 12c-2.172 0-2.444.01-3.297.047-.85.037-1.434.175-1.94.372a3.905 3.905 0 0 0-1.42.925c-.446.444-.718.89-.924 1.415-.197.51-.335 1.091-.372 1.941-.038.856-.047 1.128-.047 3.3 0 2.172.01 2.444.047 3.297.037.85.175 1.434.372 1.94.206.529.478.976.925 1.42.444.443.89.718 1.415.921.51.197 1.091.335 1.941.372.853.038 1.125.047 3.297.047s2.444-.01 3.297-.047c.85-.037 1.434-.175 1.94-.372a3.91 3.91 0 0 0 1.416-.922 3.91 3.91 0 0 0 .922-1.415c.197-.51.334-1.091.372-1.941.037-.853.047-1.125.047-3.297s-.01-2.444-.047-3.297c-.038-.85-.175-1.434-.372-1.94a3.748 3.748 0 0 0-.916-1.422 3.91 3.91 0 0 0-1.415-.922c-.51-.197-1.091-.335-1.941-.372-.856-.04-1.128-.05-3.3-.05Z')
      path(d='M20 15.89a4.11 4.11 0 0 0 0 8.22 4.11 4.11 0 0 0 0-8.22Zm0 6.776a2.666 2.666 0 1 1 0-5.332 2.666 2.666 0 0 1 0 5.332ZM25.231 15.728a.96.96 0 1 1-1.919 0 .96.96 0 0 1 1.92 0Z')
    defs
      clippath#fa
        path(fill='#fff' transform='translate(12 12)' d='M0 0h16v16H0z')
  svg#kz(fill='none' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#ga)')
      path(d='M10.496 20c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10Z' fill='#338AF3')
      path(d='M16.148 10.109H4.844c0 .78.68 1.413 1.46 1.413h-.047c0 .78.633 1.413 1.413 1.413 0 .78.633 1.413 1.413 1.413h2.826c.78 0 1.413-.633 1.413-1.413.78 0 1.413-.633 1.413-1.413h-.047c.78 0 1.46-.633 1.46-1.413Z' fill='#FFDA44')
      path(d='M14.41 8.26a3.913 3.913 0 0 1-7.827 0' fill='#338AF3')
      path(d='m13.485 8.26-1.221.575.65 1.183-1.326-.254-.168 1.34-.924-.985-.924.985-.168-1.34-1.326.254.65-1.183-1.22-.574 1.22-.575-.65-1.182 1.326.253.168-1.34.924.986.924-.985.168 1.34 1.326-.254-.65 1.182 1.221.575Z' fill='#FFDA44')
    defs
      clippath#ga
        path(fill='#fff' transform='translate(.496)' d='M0 0h20v20H0z')
  svg#ru(fill='none' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#ha)')
      path(d='M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10Z' fill='#F0F0F0')
      path(d='M19.378 13.478A9.977 9.977 0 0 0 20 10c0-1.223-.22-2.395-.622-3.478H.622A9.979 9.979 0 0 0 0 10c0 1.223.22 2.395.622 3.478l9.378.87 9.378-.87Z' fill='#0052B4')
      path(d='M10 20c4.3 0 7.965-2.714 9.378-6.522H.622A10.004 10.004 0 0 0 10 20Z' fill='#D80027')
    defs
      clippath#ha
        path(fill='#fff' d='M0 0h20v20H0z')
  svg#tr(fill='none' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#ia)')
      path(d='M10.496 20c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10Z' fill='#D80027')
      path(d='m10.087 8.171.82 1.131 1.329-.43L11.414 10l.82 1.13-1.328-.432-.822 1.13.001-1.397-1.328-.433 1.329-.43V8.17Z' fill='#F0F0F0')
      path(d='M7.847 12.826a2.826 2.826 0 1 1 1.345-5.312 3.478 3.478 0 1 0 0 4.973c-.4.216-.858.34-1.345.34Z' fill='#F0F0F0')
    defs
      clippath#ia
        path(fill='#fff' transform='translate(.496)' d='M0 0h20v20H0z')
  svg#tw(fill='none' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg')
    circle(cx='20' cy='20' r='20' fill='#fff')
    g(clip-path='url(#ja)')
      path(d='M17.033 26.5c6.037 0 9.34-5.002 9.34-9.339 0-.14-.004-.284-.01-.425a6.666 6.666 0 0 0 1.637-1.7 6.473 6.473 0 0 1-1.884.517 3.3 3.3 0 0 0 1.443-1.816 6.6 6.6 0 0 1-2.083.797 3.287 3.287 0 0 0-5.596 2.993 9.324 9.324 0 0 1-6.765-3.427 3.286 3.286 0 0 0 1.016 4.38 3.287 3.287 0 0 1-1.487-.41v.041a3.281 3.281 0 0 0 2.633 3.219c-.482.132-.989.151-1.48.056a3.29 3.29 0 0 0 3.065 2.282A6.584 6.584 0 0 1 12 25.026a9.312 9.312 0 0 0 5.033 1.474Z' fill='#3E8BF3')
    defs
      clippath#ja
        path(fill='#fff' transform='translate(12 12)' d='M0 0h16v16H0z')
  svg#ua(fill='none' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg')
    g(clip-path='url(#ka)')
      path(d='M10.496 20c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10Z' fill='#FFDA44')
      path(d='M.496 10c0-5.523 4.477-10 10-10s10 4.477 10 10' fill='#338AF3')
    defs
      clippath#ka
        path(fill='#fff' transform='translate(.496)' d='M0 0h20v20H0z')


        header.header 
            - var navItems = [{title: 'О нас', id: '#about'}, {title: 'Как это работает', id: '#stages'}, {title: 'Где работаем', id: '#geo'}, {title: 'FAQ', id: '#faq'}, {title: 'Контакты', id: '#contacts'}]
            .container.header__container 
                .header__left
                    a.header__logo(href="#") 
                        img(src="./img/logo.svg", alt="Логотип DePO")
                    nav.header__nav.nav
                        ul.nav__list.list-reset 
                            for navItem of navItems 
                                li.nav__item.descr 
                                    a.nav__link(href=navItem.id)= navItem.title
                .header__right 
                    .header__lang.lang
                        svg.lang__icon 
                            use(xlink:href='#ru')
                        span.lang__value Русский
                        svg.lang__arrow 
                            use(xlink:href='#Caret_Down')
                    button.header__btn.btn.btn-reset Launch app
        main.main 
            section.hero 
                - var socialLinks = [{link: '#', iconKey: '#fb'}, {link: '#', iconKey: '#tw'}, {link: '#', iconKey: '#insta'}]
                .container.hero__container
                    .hero__content
                        h1.hero__title Обменивай крипту и&nbsp;фиат без ограничений
                        button.hero__btn.btn.btn-reset Launch app
                        .hero__descr.hero-descr.descr
                            svg.hero-descr__icon
                                use(xlink:href='#ClipboardText')
                            span.hero-descr__text Работает на&nbsp;смарт-контрактах
                    .hero__bottom
                        .hero__scroll.hero-scroll
                            svg.hero-scroll__icon 
                                use(xlink:href='#arrow-round')
                            span.hero-scroll__descr.descr-sm Листайте вниз
                        .hero__social.social
                            span.social__descr.descr-sm Наши социальные сети
                            ul.social__list.list-reset
                                for socialLink of socialLinks 
                                    li.social__item 
                                        a.social__link(href=socialLink.link) 
                                            svg.social__icon 
                                                use(xlink:href=socialLink.iconKey)
            section.about#about.section-offset.section-divider
                .container.about__container 
                    .about__content 
                        h2.about__title.title Ведущая платформа для торговли цифровыми активами
                        p.about__descr Широкий спектр услуг по&nbsp;торговле и&nbsp;управлению цифровыми активами для удовлетворения разнообразных торговых потребностей. Всесторонняя защита пользовательских активов с&nbsp;нашим автономным хранилищем, многофакторным шифрованием и&nbsp;круглосуточным мониторингом безопасности.
            section.stages#stages.section-offset.section-divider 
                - var stages = [{class: 'stages-item__number-1', imgURL: '../img/step-1.jpg', number: 'Шаг 1', title: 'Создай или найди сделку', descr: 'Широкий спектр услуг по торговле и управлению цифровыми активами для удовлетворения'}, {class: 'stages-item__number-2', imgURL: '../img/step-2.jpg', number: 'Шаг 2', title: 'Безопасно переведи средства', descr: 'Широкий спектр услуг по торговле и управлению цифровыми активами для удовлетворения'}, {class: 'stages-item__number-3', imgURL: '../img/step-3.jpg', number: 'Шаг 3', title: 'Заверши обмен', descr: 'Широкий спектр услуг по торговле и управлению цифровыми активами для удовлетворения'},]
                .container.stages__container 
                    .stages__top 
                        h2.stages__title.title Совершите обмен за&nbsp;3&nbsp;шага
                        button.stages__btn.btn.btn-reset Начать обмен
                    .stages__bottom 
                        ul.stages__list.list-reset
                            for stage of stages
                                li.stages__item.stages-item
                                    img.stages-item__image(src=stage.imgURL, alt="")
                                    span.stages-item__number.descr(class=stage.class)= stage.number 
                                    h3.stages-item__title= stage.title
                                    p.stages-item__descr.descr= stage.descr
            section.geo#geo.section-offset.section-divider
                -var countryItems = [{iconKey: '#ru', name: 'Россия'}, {iconKey: '#ua', name: 'Украина'}, {iconKey: '#tr', name: 'Турция'}, {iconKey: '#kz', name: 'Казахстан'}, {iconKey: '#by', name: 'Беларусь'}]
                .container.geo__container 
                    .geo__countries.countries
                        ul.countries__list.list-reset 
                         for countryItem of countryItems 
                            li.countries__item 
                                svg.countries__icon 
                                    use(xlink:href=countryItem.iconKey)
                                span.countries__name= countryItem.name
                    h2.geo__title.title Страны, с&nbsp;которыми уже работает сервис
                    .geo__btns 
                        button.geo__btn.geo__btn-launch.btn.btn-reset Launch app
                        button.geo__btn.geo__btn-connect.btn.btn-reset Подключить мою страну
            section.faq#faq.section-offset 
                - var accordionItems = [{question: 'How does staking work?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'Which Proof of Stake asset(s) earn staking rewards?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'Who is eligible to stake on DEPO?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'How does ETH staking work?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'What are the risks associated with staking?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'How do I earn DeFi yield on DEPO?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}, {question: 'What’s the difference between staking and DeFi yield?', answer: 'Staking is a method of verifying and securing transactions on proof of stake blockchains. It’s faster and more energy efficient than other methods such as proof of work. Plus, participants get rewarded for helping in the process. In exchange for delegating  your crypto, you get rewarded with more assets from the network. To generate staking rewards on a Proof of Stake blockchain, a node has to designate a certain amount of tokens on the network as a stake (similar to a security deposit). The chance of that node being chosen to validate the next block is typically proportional to the number of tokens being staked. If the node successfully validates a block, it is awarded the staking reward, similar to a miner being rewarded in Proof of Work chains. Validators lose part of their stake if they approve a fraudulent transaction — this incentivizes them to only approve valid transactions.'}]
                
                .container.faq__container 
                    .faq__content 
                        .faq__right 
                            .faq__title.title FAQ
                            p.faq__descr.descr Найдите ответы, на&nbsp;интересующие вопросы
                        .faq__left 
                            .faq__accordion.accordion
                                ul.accordion__list.list-reset
                                    for accordionItem of accordionItems
                                        li.accordion__item
                                            .accordion__head 
                                                h3.accordion__title= accordionItem.question
                                                .accordion__icon 
                                                    span.accordion__line
                                                    span.accordion__line
                                            .accordion__descr.visually-hidden 
                                                p= accordionItem.answer
            section.app#app
                .container.app__container 
                    h2.app__title.title 
                    p.app__descr.descr
                    button.app__btn.btn.btn-reset Launch app

        footer.footer
            //- - var socialLinks = [{link: '#', iconKey: '#fb'}, {link: '#', iconKey: '#tw'}, {link: '#', iconKey: '#insta'}]

            .container.footer__container 
                .footer__left 
                    span.footer__copy &copy;&nbsp;DEPO 2022
                .footer__center 
                    p.footer__terms.descr-sm Terms of Use
                    p.footer__policy.descr-sm Privacy policy
                .footer__right.footer__social.footer-social
                    p.footer-social__descr.descr-sm Наши социальные сети
                    ul.social__list.list-reset
                        for socialLink of socialLinks 
                            li.social__item 
                                a.social__link(href=socialLink.link) 
                                    svg.social__icon 
                                        use(xlink:href=socialLink.iconKey)

                    